* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --color-primary: #34355b;
  --bgColor-btn: #7879f1;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
}

button {
  font-family: var(--font-primary);
  font-weight: 600;
  padding: 1.6rem;
  background-color: var(--bgColor-btn);
  color: #ffffff;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;

  transition: background 0.3s;
}

button:hover {
  background-color: #5656bd;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: min(42.8rem, 90%);
  margin-top: -12rem;
  padding: 4.8rem 6.4rem 6.4rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.screen1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  width: 100%;
}

.hide {
  display: none;
}

.content_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.content_top h1 {
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-primary);
}

.content_top p {
  font-family: var(--font-primary);
  color: rgba(52, 53, 91, 80%);
}

.content form {
  display: flex;
}

.content form input {
  padding: 1.6rem;
  width: 4.8rem;
  font-family: var(--font-primary);
  background-color: #dce2e9;
  color: var(--color-primary);
  border: none;
  border-radius: 0.4rem 0 0 0.4rem;
}

.content form input::placeholder {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.screen2 {
  text-align: center;
}

.screen2 h2 {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin-bottom: 3.3rem;
}
